PORT=8000

# FOUNDRY
PROJECT_KEY=
PROJECT_ENDPOINT=
OPENAI_ENDPOINT=

# COSMOSDB
COSMOS_ACCOUNT_URL=
COSMOS_KEY=
COSMOS_DATABASE=
COSMOS_CONTAINER=

# GREMLIN
GREMLIN_ENDPOINT=
GREMLIN_KEY=
GREMLIN_DATABASE=
GREMLIN_GRAPH=

# AZURE
AZURE_BLOB_CONTAINER=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_ACCOUNT_URL=

# Frontend
FRONTEND_ORIGIN="http://localhost:3000"